<ion-header>
  <ion-toolbar>
    <ion-title>Bulbasaur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="section pokedex-pokemon-details">
    <div class="column-6 push-1">
      <div class="pokedex-pokemon-profile">
        <div class="profile-images">


          <img class="active" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="Bulbasaur">


        </div>
      </div>


        <div class="pokemon-stats-info active">
              <h3 data-gtm-vis-first-on-screen-159551_85="13708" data-gtm-vis-first-on-screen-159551_82="13709" data-gtm-vis-recent-on-screen-159551_85="140660" data-gtm-vis-total-visible-time-159551_85="3000" data-gtm-vis-recent-on-screen-159551_82="140661" data-gtm-vis-total-visible-time-159551_82="3000" data-gtm-vis-has-fired-159551_85="1" data-gtm-vis-has-fired-159551_82="1">Stats</h3>



        </div>
    &gt;

    </div> <!-- column-6 push-1 -->

    <div class="column-6 push-7">
      <div class="pokedex-pokemon-details-right">

            <div class="version-descriptions active">


                  <p class="version-y
                                    ">
                                    Há uma semente de planta em suas costas desde o dia em que o Pokémon nasceu. A semente cresce lentamente.
                  </p>

                  <p class="version-x
                                    active">
                                    Há uma semente de planta em suas costas desde o dia em que o Pokémon nasceu. A semente cresce lentamente.
                  </p>


            </div>


        <h3 data-gtm-vis-first-on-screen-159551_85="1979" data-gtm-vis-first-on-screen-159551_82="1980" data-gtm-vis-recent-on-screen-159551_85="141195" data-gtm-vis-total-visible-time-159551_85="3000" data-gtm-vis-recent-on-screen-159551_82="141196" data-gtm-vis-total-visible-time-159551_82="3000" data-gtm-vis-has-fired-159551_85="1" data-gtm-vis-has-fired-159551_82="1">Versions:</h3>
        <div class="version-labels">
          <span class="version-label version-x active"><i class="icon icon_pokeball"></i></span>
          <span class="version-label version-y"><i class="icon icon_pokeball"></i></span>
        </div>

        <div class="info match-height-tablet">


          <div class="pokemon-ability-info color-bg color-lightblue match active" style="min-height: 226px;">

            <div class="column-7">
              <ul>
                <li>
                  <span class="attribute-title">Height</span>
                  <span class="attribute-value">0.7 m</span>
                </li>

                <li>
                  <span class="attribute-title">Weight</span>
                  <span class="attribute-value">6.9 kg</span>
                </li>

                <li>
                  <span class="attribute-title">Gender</span>

                  <span class="attribute-value">
      <i class="icon icon_male_symbol"></i>
      <i class="icon icon_female_symbol"></i>
                  </span>

                </li>
              </ul>
            </div>

            <div class="column-7 push-7">
              <ul>
                <li>
                  <span class="attribute-title">Category</span>
                  <span class="attribute-value">Seed</span>
                </li>

                <li>
                  <span class="attribute-title">Abilities</span>

                  <ul class="attribute-list">

                    <li>
                      <a href="" class="moreInfo">
                        <span class="attribute-value">Overgrow</span>
                      </a>
                    </li>

                  </ul>
                </li>

              </ul>
            </div>


            <div class="pokemon-ability-info-detail match" style="min-height: 226px;">
              <span class="button-close">
                <i class="icon icon_multiply"></i>Close</span>
              <span class="title">Ability Info</span>
              <h3>Overgrow</h3>
              <p>Powers up Grass-type moves when the Pokémon's HP is low.</p>
            </div>


          </div> <!-- pokemon-ability-info color-bg color-lightblue match -->

          <div class="pokedex-pokemon-attributes active">
            <div class="dtm-type">
              <h3 data-gtm-vis-first-on-screen-159551_85="2521" data-gtm-vis-first-on-screen-159551_82="2521" data-gtm-vis-recent-on-screen-159551_85="140628" data-gtm-vis-total-visible-time-159551_85="3000" data-gtm-vis-recent-on-screen-159551_82="140629" data-gtm-vis-total-visible-time-159551_82="3000" data-gtm-vis-has-fired-159551_85="1" data-gtm-vis-has-fired-159551_82="1">Type</h3>
              <ul>
                <li class="background-color-grass">

                  <a href="/br/pokedex/?type=grass">Grass</a>

                </li>

                <li class="background-color-poison middle">

                  <a href="/br/pokedex/?type=poison">Poison</a>

                </li>

              </ul>
            </div> <!-- dtm-type -->

            <div class="dtm-weaknesses">
              <h3 data-gtm-vis-first-on-screen-159551_85="2552" data-gtm-vis-first-on-screen-159551_82="2553" data-gtm-vis-recent-on-screen-159551_82="140327" data-gtm-vis-total-visible-time-159551_82="3000" data-gtm-vis-recent-on-screen-159551_85="140328" data-gtm-vis-total-visible-time-159551_85="3000" data-gtm-vis-has-fired-159551_82="1" data-gtm-vis-has-fired-159551_85="1">Weaknesses</h3>
              <ul>

                <li class="background-color-fire first">

                  <a href="/br/pokedex/?weakness=fire">

                    <span>Fire

                    </span>
                  </a>
                </li>

                <li class="background-color-psychic middle">

                  <a href="/br/pokedex/?weakness=psychic">

                    <span>Psychic

                    </span>
                  </a>
                </li>

                <li class="background-color-flying last">

                  <a href="/br/pokedex/?weakness=flying">

                    <span>Flying

                    </span>
                  </a>
                </li>

                <li class="background-color-ice first">

                  <a href="/br/pokedex/?weakness=ice">

                    <span>Ice

                    </span>
                  </a>
                </li>

              </ul>
            </div> <!-- dtm-weaknesses -->
          </div> <!-- pokedex-pokemon-attributes -->


        </div> <!-- info match-height-tablet -->

        <div class="collectibles-detail-friends"></div>
      </div>
    </div>
  </section>

</ion-content>
